{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <h3>New customer details</h3>
                <p>A new customer has been added successfully</p>
                <h5>Customer details:</h5>
                <p>Name: {{ Name }}</p>
                <p>Email: {{ Email }}</p>
            </div>
        </form>
    </div>
{% endblock content %}